aside {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  width: 100px;
  height: 100vh;
  transition: 0.5s ease-in-out;
  border-right: 3px solid red;
}

aside a {
  text-decoration: none;
}

aside .active .asideIcon {
  background-color: red;
  border-radius: 40px;
}

.asideWide {
  /* transition: 0.5s ease-in-out; */
  width: 40vw;
}

.asideWide .asideIcon {
  width: 38vw;
  /* padding-right: 20px; */
}

aside .asideIcon {
  display: flex;
  align-items: center;
}

aside img {
  height: 100px;
  width: 100px;
}

aside img:hover {
  cursor: pointer;
}

aside .asideIcon p {
  font-size: 30px;
  color: white;
}

/* aside .asideIcon:hover p {
  color: tomato;
} */
