.game-preview {
  width: 39vw;
}

.detail-page {
  background-color: #040f14;
  color: white;
}

.detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}

.detail-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}

.info-flex {
  display: flex;
  gap: 1vw;
}

.require-flex {
  display: flex;
  gap: 3vw;
}

.big-image {
  width: 100vw;
}
