nav {
  position: absolute;
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 2vh 3vw;
}

nav a {
  text-decoration: none;
}

.search {
  width: 300px;
}
