/*  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: oswald;
  src: url("./assets/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: sans;
  src: url("./assets/fonts/SourceSans3-VariableFont_wght.ttf");
}

@font-face {
  font-family: titi;
  src: url("./assets/fonts/TitilliumWeb-Regular.ttf");
}

h1 {
  font-family: oswald;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
}

h2,
h3 {
  color: #fff;
  font-family: oswald;
  font-size: 24px;
  line-height: normal;
}

h4 {
  color: #fff;
  font-family: oswald;
  font-size: 18px;
  font-style: normal;
}
p {
  color: #fff;
  font-family: titi;
  line-height: normal;
}
